<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha alta:</strong>
  <%= @inscripcion.fecha_alta %>
</p>

<%= link_to 'Edit', edit_inscripcion_path(@inscripcion) %> |
<%= link_to 'Back', inscripciones_path %>
