<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha alta:</strong>
  <%= @enrollment.fecha_alta %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
